GRUB_TIMEOUT=5
GRUB_DISTRIBUTOR="$(sed 's, release .*$,,g' /etc/system-release)"
GRUB_DEFAULT=saved
GRUB_DISABLE_SUBMENU=true
GRUB_TERMINAL_OUTPUT="console"
GRUB_CMDLINE_LINUX="{% if ansible_proc_cmdline['spectre_v2']|length %}spectre_v2={{ ansible_proc_cmdline.spectre_v2 }}{% endif %}{% if ansible_proc_cmdline['rd.luks.uuid']|length %}{% for luks in ansible_proc_cmdline['rd.luks.uuid'] %} rd.luks.uuid={{ luks }}{% endfor %}{% endif %}{% if ansible_proc_cmdline['rd.lvm.lv']|length %}{% for lvm in ansible_proc_cmdline['rd.lvm.lv'] %} rd.lvm.lv={{ lvm }}{% endfor %}{% endif %}{% if ansible_proc_cmdline['rhgb'] is sameas true %} rhgb{% endif %}{% if ansible_proc_cmdline['quiet'] is sameas true %} quiet{% endif %}"
GRUB_DISABLE_RECOVERY="true"
